if ! has gopl; then
	go install golang.org/x/tools/gopls@latest
fi

if ! has dlv; then
	go install github.com/go-delve/delve/cmd/dlv@latest
fi

if ! has golangci-lint; then
	go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
fi

if ! has golangci-lint-langserver; then
	go install github.com/nametake/golangci-lint-langserver@latest
fi
